{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "fmacgre2@uk.ibm.com",
      "Space": "Freddies new space"
    },
    "Name": "Watson-translate",
    "Instrumentation": {
      "services": [
        "Language Translation"
      ]
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}